<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TIQIUEntities" connectionString="metadata=res://*/SQLModel.csdl|res://*/SQLModel.ssdl|res://*/SQLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=112.124.51.238,2433;Initial Catalog=TEST_20150415;Persist Security Info=True;User ID=sa;Password=tiqiu365@terry&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="TIQIUEntities" connectionString="metadata=res://*/SQLModel.csdl|res://*/SQLModel.ssdl|res://*/SQLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=duochunyu.asuscomm.com,2433;Initial Catalog=TIQIU;Persist Security Info=True;User ID=sa;Password=xlianyu123456z&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="tiqiuEntities" connectionString="metadata=res://*/MySqlModel.csdl|res://*/MySqlModel.ssdl|res://*/MySqlModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=duochunyu.asuscomm.com;user id=tiqiu;pwd=tiqiu365@terry;database=tiqiu;persist security info=True;port=3336&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="tiqiuEntities" connectionString="metadata=res://*/MySqlModel.csdl|res://*/MySqlModel.ssdl|res://*/MySqlModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=www.tiqiu365.com;user id=tiqiu;pwd=tiqiu365@terry;database=tiqiu;persist security info=True;port=3306&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="SMSSN" value="6SDK-EMY-6688-KIQTK"/>
    <add key="SMSPWD" value="385954"/>
    <add key="SMSKEY" value="385954"/>
    <add key="ENAME" value="索克尔"/>
    <add key="LINKMAN" value="谢先生"/>
    <add key="PHONENUM" value="13348967321"/>
    <add key="EMAIL" value="duochunyu@qq.com"/>
    <add key="MOBILE" value="13348967321"/>
    <add key="FAX" value=" "/>
    <add key="ADDRESS" value="test"/>
    <add key="POSTCODE" value="610000"/>
 
      <add key="ApiKey" value="i6aOedizbxKhr6uK2Z2Gcm4R" />
      <add key="SecretKey" value="rqpVGG6nFxvVh1DfdcZlFTHiXGuSRpmn" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>
</configuration>