@charset "utf-8";
/*
公共头部@缘来网
by liukai.yuan@zhenai.com
on 5 16 2012
*/
html{_background-image:url(about:blank);_background-attachment: fixed;} /* for ie6 fixed position bug */
body{ background:#d7e8f0 url(../../../images/public/bg/bg.png) repeat-x;}
.wrap{background:url(../../../images/public/bg/bg_img.png) no-repeat top center;}

/* 头部LOGO 和登录 */
.pub_nav{position:relative;z-index:101;color:#e58700;_zoom:1;}
.pub_nav .top{width:960px;padding:0 0 5px;margin:0 auto;}
.pub_nav .center{width:938px;height:42px;padding:0 10px;margin:0 auto;background:#ec6b65 url(../../../images/public/version2/nav_bg.png) repeat-x;border:solid 1px #cf5954;}
.pub_nav h2{width:100px; height:56px;padding-left:6px;float:left;overflow:hidden;position:relative;}
.pub_nav .slogan{float:left;height:15px;width:100px;text-indent:-999em;_display:inline;margin-top:20px;background:url(../../../images/public/version2/slogan.png) no-repeat;_background-image:url(../../../images/public/version2/slogan.gif);}
.pub_nav h2 a{display:inline-block;overflow:hidden;}
/* logo */
.pub_nav h2 a.logo{width:92px;height:0px;padding-top:45px;margin-top:7px;margin-left:7px;background:url(../../../images/public/version2/logo.png) no-repeat;_background-image:url(../../../images/public/version2/logo.gif);}
.pub_nav .pub_not_login,.pub_nav .pub_login{padding-top:20px;float:right;z-index:5;}
.pub_nav .pub_not_login{width:155px;position:relative;text-align:right;}
.pub_nav .pub_login{width:220px;padding-top:13px;text-align:right;}
.pub_nav .pub_login p{padding-bottom:5px;}
.pub_nav .form{position:relative;width:426px;*width:430px;float:left;}
.pub_nav .form .w1{border:none;width:141px;height:14px;padding:4px 0px 5px 5px;border: 1px solid #ccc; margin-right:10px;border-radius: 3px;box-shadow:2px 2px 2px #efefef inset;line-height:14px\9;background:#f7f7f7;background:#fff\9;vertical-align:middle;color:#999;outline:none;}
.pub_nav .form a.forgetpsw{vertical-align:middle;}
.pub_nav .form .w1:focus{background:#fff;border-color:#5aabd1;box-shadow:1px 1px 2px #eff8fc,-1px -1px 2px #eff8fc;}
.pub_nav .qq_ico{display:inline-block;width:84px;height:0px;padding-top:23px;_margin-top:2px;overflow:hidden;background:url(../../../images/about/qq_ico_new.png) no-repeat;vertical-align:middle;}
.pub_nav .pub_login{text-align:right;}
.pub_nav .nav_login_btn{height:23px;overflow:hidden;}
.pub_nav .pub_login a{text-decoration:none;}
.pub_nav .pub_login a.user_emtic span{color:#fff;padding:0 3px;font-weight:bold; border-radius:3px;}
.pub_nav .pub_login a.user_emtic span.uez{background-color:#fe4200;}
.pub_nav .pub_login a.user_emtic span.uezero{background-color:#bcbcbc;}
#password_desc{position:absolute;top:5px;*top:8px;_top:7px;left:5px;line-height:14px;height:16px;color:#999;display:block;}
#login_error_msg_top{position:absolute;top:0;left:15px;height:23px;line-height:23px;}
.pub_login .spliter{color:#666;}

/* slogan */
.pub_nav .top{background:url(../../../images/public/version2/slogan.jpg) no-repeat 50px 0;}
.gender2 .top{background:none;}

/* 导航条  */

.pub_nav nav{float:left;padding-left:15px;}
.pub_nav nav li{height:42px;;margin-right:5px;text-align:center;font:700 14px/44px "Microsoft Yahei";color:#fff;text-shadow:2px 2px 2px rgba(0,0,0,.3);position:relative;float:left;}
.pub_nav nav li.has_dd{ width:72px; padding:0;}
.pub_nav nav li a{display:inline-block;height:42px;text-decoration:none;color:#fff;padding:0 12px;}
.pub_nav nav li.current{background:#d14844;}
.pub_nav nav li.current a,.pub_nav nav li a:hover{color:#ffff00;}
.pub_nav nav.accinfo{padding:18px 0 0 0;color:#b1a39b;float:right;text-align: right;width:161px;}
.pub_nav nav.accinfo_not_login{padding:13px 0 0 0;color:#b1a39b;float:right;text-align: right;_display:inline;}
.pub_nav nav.accinfo a, .pub_nav nav.accinfo_not_login a{text-decoration:none;color:#fff;}
.pub_nav nav.accinfo a:hover, .pub_nav nav.accinfo_not_login a:hover{text-decoration:underline;}
.pub_nav nav.accinfo span, .pub_nav nav.accinfo a{padding: 0 9px 0 10px;}
.pub_nav nav.accinfo_not_login span, .pub_nav nav.accinfo_not_login a{padding: 0 5px;}
.pub_nav nav.accinfo_not_login a.qq_logn3{ display:inline-block; zoom:1; *display:inline; padding: 0;width:50px; height:16px; margin-bottom: -3px; background:url(../../../images/about/Connect_logo_6.png) no-repeat;}
.pub_nav .new_gif, .pub_nav .hot_gif { display:inline-block; position:absolute; width:17px; height:6px;background:url(../../../images/public/icon/gif/new.gif) no-repeat; right:5px; top:6px;}
.pub_nav .hot_gif { background-image:url(../../../images/public/icon/gif/hot_1.gif);}
.pub_nav .qzone_btn{float: left;width: 61px;height:30px;margin: 26px 0 0 5px;border:none;overflow:hidden;_display:inline;}

/* 登录弹框 */
.pub_nav .head_login_form{position:absolute;width:230px;height:75px;padding:24px 0 0 15px;background:#fff;border:solid 2px #ff513a;border-radius:4px;top:50px;left:-50px;text-align:left;}
.head_login_form p{padding-bottom:10px;}
.head_login_psw{position:relative;_zoom:1;}
.head_login_form .triangle{position:absolute;font-size:0;line-height:0;width:0;height:0;border-style:dashed;border-width:7px;border-color:transparent;border-bottom:solid 7px #ff513a;border-top:none;top:-7px;left:70px;}
.head_login_form .inner{border-bottom-color:#fff;top:-5px;}
.head_login_form .close_this{font-size:18px;position:absolute;top:0;right:5px;color:#999;text-decoration:none;line-height:1.2;}
.head_login_form .close_this:hover{color:#000;text-decoration:none;}
/* 顶部Google */
.top_google_entrance{height:60px;width:470px;float:left;padding:5px 0 0 150px;background:url(../../../images/public/icon/loading.gif) no-repeat center center}
/* 顶部广告高度  */
.top_promotion{height:80px;overflow:hidden;}
.AD_img{overflow:hidden;}
/* css3效果 邮箱呼吸效果 */
.user_emtic span {
	-webkit-animation-name: changeBg;
	-webkit-animation-timing-function:cubic-bezier(0,0,1,1);
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes changeBg {
	from {background:#fe4200; }
	to {background:#ffd200; }
}

/* css3效果 登陆模块密码错误效果 */
.animation_shake{animation:shake 1s ease .2s;-webkit-animation:shake 1s ease .2s;}
@keyframes shake{
	0%,100%{transform:translateX(0);}
	10%,30%,50%,70%, 90%{transform:translateX(-10px);}
	20%,40%,60%,80%{transform:translateX(10px);}
}
@-webkit-keyframes shake{
	0%,100%{-webkit-transform:translateX(0);}
	10%,30%,50%,70%, 90%{-webkit-transform:translateX(-10px);}
	20%,40%,60%,80%{-webkit-transform:translateX(10px);}
}

/* 更多应用下拉 by housne @20121112 */
.more_app{position:absolute;top:0;right:0;}
.app_bar .tab_title .more_app a{border:none;padding:0 25px 0 15px;margin-right:0;border:solid 1px #fff;border-bottom:none;border-radius:none;}
.app_bar .more_app i{width:0;height:0;line-height:0;font-size:0;border-style: dashed;border-color: transparent;border-width:5px;border-bottom:none;border-top:solid 5px #807976;position:absolute;top:49%;right:10px;}
.app_bar .tab_title .active a{border-color:#684a3f;}
.app_bar .active  a i{border-top:none;border-bottom:solid 5px #807976;}
.app_bar .more_link{position:relative;z-index:9;top:2px;}
.app_bar .active .more_link{background:#f7f7f7;}
.pub_nav .app_list{position:absolute;top:42px;left:0;display:none;}
.pub_nav .app_list_box{position:relative;width:158px;border:solid 1px #684a3f;background:#f7f7f7;padding:5px 0;}
.pub_nav nav .app_list a{display:block; padding:0 5px;text-decoration:none;border:none;margin:0;}
.app_list a span{display:block; height:28px;line-height:28px;padding-left:27px;background-position:7px center;background-repeat:no-repeat;cursor:pointer;font-size:12px !important;}
.app_bar .tab_title .app_list a span{padding-left:27px;}
.app_bar .tab_title .app_list a{padding:0 5px;border:none;float:none;margin:0;}
.app_list span.ls_draw { background-image:url(../../../images/public/icon/16x16/b_54.png);}
.app_list span.ls_aic { background-image:url(../../../images/public/icon/16x16/b_47.png);}
.app_list span.ls_pre { background-image:url(../../../images/public/icon/16x16/b_27.jpg);}
.app_list span.ls_map { background-image:url(../../../images/public/icon/16x16/b_35.gif);}
.app_list span.ls_qa { background-image:url(../../../images/public/icon/16x16/b_48.gif);}
.app_list span.ls_star { background-image:url(../../../images/public/icon/16x16/b_50.gif);}
.app_list span.ls_first { background-image:url(../../../images/public/icon/16x16/b_28.gif);}
.app_list span.ls_yjzq{background-image:url(../../../images/public/icon/16x16/b_51.gif);}
.app_list span.ls_point{background-image:url(../../../images/public/icon/16x16/b_42.gif);}
.app_list span.dating_plus{background-image:url(../../../images/public/icon/16x16/b_62.gif);}
.app_list span.ls_plane{background-image:url(../../../images/public/icon/16x16/plane.gif);}
.app_list span.ls_qmatch{background-image:url(../../../images/public/icon/16x16/b_72.png);_background-image:url(../../../images/public/icon/16x16/b_72.gif);}
.app_list span.ls_cheats{background-image:url(../../../images/public/icon/16x16/b_80.png);_background-image:url(../../../images/public/icon/16x16/b_80.gif);}
.pub_nav nav li .app_list a:hover{color:#58b5e1;}
.pub_nav nav li.current .app_list a{color:#3b9bc9;}
.pub_nav nav li.current .app_list a:hover{color:#58b5e1;}
.pub_nav nav li .app_list{text-shadow:none;text-align:left;font-weight:500;border-top:none;}
.pub_nav nav li .app_list a{height:32px;line-height:32px;}
.pub_nav a .triangle{width:0;height:0;font-size:0;line-height:0;border-style:dashed;border-width:5px;border-color:transparent;border-bottom:none;border-top:solid 5px #fff;position:absolute;top:50%;right:10px;margin-top:-1px;}
.pub_nav .active .triangle{border-top:none;border-bottom:solid 5px #ffff00;}
.app_list .ie_frame{position:absolute;left:0;top:0;width:160px;height:300px;background:#f7f7f7 !important;;z-index:-10;}


/* hot */
.hot{padding-right:30px; background:url(../../../images/public/icon/gif/hot.gif) no-repeat right center;}



