@charset "utf-8";
@import url("../public/reset.css");
@import url("../public/public.css");
@import url("../public/button/pubButtonVersion2.css");
@import url("../public/box/box960.css");
@import url("public.css");
@import url("form.css");
@import url("../login/login_ex_list.css");
@import url("../public/box/alertBox.css");
@import url("preview.css");
@import url("../about/footer.css");
/* 注册 */
html body
{
    background: url(../../images/bg.png);
}

.reg_header .logo_reg h2
{
    height: 42px;
}

.wrap
{
    background: url(../../images/bg.png);
}

.reg_header
{
    padding: 25px 0;
}

    .reg_header .logo_reg
    {
        margin: 0px auto;
        padding-right: 0px;
        width: 960px;
        background: url(../../images/register/ico_reg.png) no-repeat 108px center;
        _background-image: url(../../images/register/ico_reg.gif);
    }

.public_960box_t
{
    height: 22px;
    width: 960px;
}

.public_960box_m
{
    width: 960px;
}

.public_960box_b
{
    background: url(../../images/register/public_960box_b.jpg) no-repeat;
    height: 22px;
    width: 960px;
}

.reg_box
{
    border: none;
    margin-bottom: 15px;
}

.reg_left
{
    _display: inline;
    float: left;
    width: 660px;
}

.reg_right
{
    _display: inline;
    float: left;
    width: 300px;
    position: relative;
    padding-top: 320px;
}

.reg_people
{
    height: 295px;
    width: 226px;
    background: url(../../images/register/reg_people.png) no-repeat;
    text-indent: -999em;
    top: -0px;
    position: absolute;
    left: 10px;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://www.ylstatic.com/2012/web/images/register/reg_people.png");
}

.reg_left
{
    font-size: 14px;
}

.reg_left_title
{
    height: 70px;
    position: relative;
}

    .reg_left_title h1
    {
        background: url(../../images/register/title.jpg) no-repeat;
        width: 256px;
        height: 32px;
        padding: 0 0 13px 35px;
        color: #fff;
        position: absolute;
        top: 8px;
        left: -5px;
        font: bold 14px/38px '微软雅黑','宋体';
    }

.form_box
{
    margin-left: 60px;
}

.form_desc
{
    font: bold 12px/30px '微软雅黑',Tahoma,'宋体',Verdana;
    color: #845D48;
    margin-left: -30px;
    margin-bottom: 15px;
}

.form_box input.w2
{
    width: 76px;
    text-align: center;
}
/*.form_box .form_li img{width:80px;height:30px;margin:0px 2px;vertical-align: middle;}*/
.form_box .form_li a
{
    text-decoration: none;
}

.form_box .serve_text input
{
    vertical-align: middle;
}

.form_box .serve_text a
{
    text-decoration: underline;
}

a.login
{
    margin: 0 auto 20px;
    display: block;
    padding-left: 46px;
    width: 143px;
    height: 43px;
    line-height: 43px;
    text-decoration: none;
    background: url(../../images/register/login.png) no-repeat;
}

a:hover.login
{
    background-position: 0 -44px;
}

.login_ex_list
{
    margin-left: 40px;
}

    .login_ex_list .li_d
    {
        display: block;
        color: #333;
    }

/* 城市选择 */
.form_city
{
    position: relative;
    z-index: 999;
}

#provinceList, #cityList, #cityList2
{
    position: absolute;
    top: 33px;
    border: #D4D4D4 solid 1px;
    background: #FFFDF3;
    padding: 10px;
    display: none;
    box-shadow: #EAEAEA 1px 1px 1px;
    font-size: 12px;
    width: 364px;
    z-index: 999;
    left: 74px;
}

    #provinceList a, #cityList a, #cityList2 a
    {
        display: inline-block;
        height: 22px;
        line-height: 22px;
        margin: 3px;
        padding: 0 3px;
        overflow: hidden;
        text-decoration: none;
        text-align: center;
    }

        #provinceList a:hover, #cityList a:hover
        {
            background: #7B5035;
            color: #FFF;
        }

    #provinceList .text_title, #cityList .text_title, #cityList2 .text_title
    {
        font-weight: normal;
        position: absolute;
        top: -34px;
        height: 33px;
        line-height: 33px;
        width: 90px;
        font-size: 14px;
        left: -1px;
        +left: 2px;
        _left: -1px;
        border: #D4D4D4 solid 1px;
        border-bottom: none;
        background: #FFFDF3;
        text-align: center;
        color: #666;
    }

    #cityList .text_title, #cityList2 .text_title
    {
        left: auto;
        right: 181px;
        +right: 174px;
        _right: 177px;
    }

.main_city
{
    color: #333;
    border-bottom: #D1D1D1 dashed 1px;
    _margin-bottom: 5px;
}

.haiwai_city
{
    color: #333;
    border-top: #D1D1D1 dashed 1px;
    _margin-top: 5px;
}

:root #cityList .text_title
{
    right: 180px\9;
}
/* 生日选择 */
#div_birthday
{
    position: relative;
    z-index: 1000;
}

#yearList, #monthList, #dayList
{
    position: absolute;
    top: 33px;
    border: #D4D4D4 solid 1px;
    background: #FFFDF3;
    padding: 15px 10px;
    display: none;
    box-shadow: #EAEAEA 1px 1px 1px;
    font-size: 12px;
    width: 390px;
    z-index: 999;
    left: 74px;
}

#div_birthday a
{
    display: inline-block;
    margin: 2px;
    padding: 0 4px;
    overflow: hidden;
    text-decoration: none;
    vertical-align: middle;
}

    #div_birthday a:hover
    {
        background: #3b9bc9;
        color: #FFF;
    }

#yearList span
{
    color: #666;
    font-weight: bold;
}

#yearList a
{
    padding: 0 1px;
}

#div_birthday .text_title
{
    font-weight: normal;
    position: absolute;
    top: -34px;
    height: 33px;
    line-height: 33px;
    width: 80px;
    *width: 83px;
    font-size: 14px;
    left: -1px;
    border: #D4D4D4 solid 1px;
    border-bottom: none;
    background: #FFFDF3;
    text-align: center;
    color: #666;
}

#monthList .text_title
{
    left: 107px;
}

#dayList .text_title
{
    left: 215px;
}

.ie_frame
{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    filter: alpha(opacity = 0);
}

.ie_frame2
{
    position: absolute;
    z-index: -1;
    width: 390px;
    height: 100px;
    left: 0;
    top: 0;
    filter: alpha(opacity = 0);
}

.form_box .form_li label.line_title
{
    display: inline-block;
    width: 70px;
}

#QZreg_alert iframe
{
    _overflow-y: scroll;
}
