<?xml version="1.0" encoding="utf-8" ?>
<!--
	Database configuration.
	This file contains all the database instances used by the website.
	
	Note:
		database name is case-insensitive and must be unique.
-->
<databaseList>
    <database name="">
        <connectionString></connectionString>
    </database>
</databaseList>
