<div class="modal-header">
    <h3>取消预订</h3>
</div>

<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label">场次信息：</label>
            <div class="col-md-6">
                <span class="form-control-static">{{data.field.name}} {{data.fieldItem.title}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">时间：</label>
            <div class="col-md-6">
                <span class="form-control-static">{{data.scheduledDate}} {{data.schduleItem.StartTime.slice(0,5)}} -- {{data.schduleItem.EndTime.slice(0,5)}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">预订人：</label>
            <div class="col-md-6">
                <span class="form-control-static">{{data.schduleItem.MemberName}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">实收金额：</label>
            <div class="col-md-6">
                <input type="text" ng-model="income" class="form-control" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="completeOrder()">确定</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>