<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TiQiu.SMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <appSettings>
    <add key="WCFServicePort" value="8012" />
    <add key="WCFServiceIP" value="localhost" />
    <add key="FILE_ROOT" value="http://file.tiqiu365.com/" />
    <add key="SMSSN" value="9SDK-EMY-0229-JDTRQ" />
    <add key="SMSPWD" value="902464" />
    <add key="SMSKEY" value="902464" />
    <add key="ENAME" value="索克尔" />
    <add key="LINKMAN" value="谢先生" />
    <add key="PHONENUM" value="13348967321" />
    <add key="EMAIL" value="duochunyu@qq.com" />
    <add key="MOBILE" value="13348967321" />
    <add key="FAX" value=" " />
    <add key="ADDRESS" value="test" />
    <add key="POSTCODE" value="610000" />
  </appSettings>
  <applicationSettings>
    <TiQiu.SMS.Properties.Settings>
      <setting name="TiQiu_SMS_WSService_SDKService" serializeAs="String">
        <value>http://sdk4report.eucp.b2m.cn:8080/sdk/SDKService</value>
      </setting>
    </TiQiu.SMS.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>