@charset "utf-8";

/* 20111124 dabaichen */
body,div,form,img,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
img{border:0;}
ul,ol,li{list-style:none;}

/* 添加html5标签的reset */
address,article,aside,canvas,details,summary,section,header,footer,hgroup,figure,figcaption,menu,nav{display:block;margin:0;padding:0;}