<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="*" />
        <add name="Access-Control-Allow-Headers" value="content-type" />
        <add name="P3P" value="CP=&quot;CAO PSA OUR&quot;" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="WCFServicePort" value="8012" />
    <add key="PRIVATE_KEY" value="TIQIU365" />
    <add key="FILE_DOMAIN" value="http://file.tiqiu365.com/" />
    <add key="FILE_ROOT" value="G:\\Temp\" />
    <add key="DEFAULT_IMAGE" value="default.png" />
    <add key="SMSSN" value="6SDK-EMY-6688-KIQTK"/>
    <add key="SMSPWD" value="385954"/>
    <add key="SMSKEY" value="385954"/>
    <add key="ENAME" value="索克尔" />
    <add key="LINKMAN" value="谢先生" />
    <add key="PHONENUM" value="13348967321" />
    <add key="EMAIL" value="duochunyu@qq.com" />
    <add key="MOBILE" value="13348967321" />
    <add key="FAX" value=" " />
    <add key="ADDRESS" value="test" />
    <add key="POSTCODE" value="610000" />
    <add key="VERIFY_CODE_TIMEOUT" value="600" />
    <add key="VERIFY_SMS" value="【51足球】您本次身份校验码是{0}，请尽快使用，该校验码将在您使用后失效。" />
    <add key="CONFIRM_SMS" value="【51足球】您的预订申请已通过审核-{0}，详情请登录51football查看。" />
    <add key="RECONFIRM_SMS" value="【51足球】您的预订申请即将到期，请按时到场消费-{0}，详情请登录51football查看。" />
    <add key="CANCEL_SMS" value="【51足球】非常抱歉，您的预订申请已被取消-{0}，请登录51football查看详情。" />
    <add key="PK_SMS" value="【51足球】您的PK场次已有人应战-{0}，请登录51football查看详情。" />
    <add key="SOLO_SMS" value="【51足球】您已成功加入单飞场次-{0}，请按时到场消费。" />
    <add key="RESET_PWD_SMS" value="【51足球】亲爱的会员：您的账号密码已经重置为：{0} ,请尽快登录系统并修改密码，谢谢！" />
  </appSettings>
  <connectionStrings>
    <add name="TIQIUEntities" connectionString="metadata=res://*/SQLModel.csdl|res://*/SQLModel.ssdl|res://*/SQLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=112.124.51.238,2433;Initial Catalog=TIQIU;Persist Security Info=True;User ID=sa;Password=tiqiu365@terry&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="tiqiuEntities" connectionString="metadata=res://*/MySqlModel.csdl|res://*/MySqlModel.ssdl|res://*/MySqlModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;pwd=123456;database=tiqiu;persist security info=True;port=3306&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>