<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TiQiu.SMSJOB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="WCFServicePort" value="8012" />
    <add key="WCFServiceIP" value="localhost" />
    <add key="FILE_ROOT" value="http://file.tiqiu365.com/" />
    <add key="SMSSN" value="6SDK-EMY-6688-KIQTK"/>
    <add key="SMSPWD" value="385954"/>
    <add key="SMSKEY" value="385954"/>
    <add key="ENAME" value="索克尔" />
    <add key="LINKMAN" value="谢先生" />
    <add key="PHONENUM" value="13348967321" />
    <add key="EMAIL" value="duochunyu@qq.com" />
    <add key="MOBILE" value="13348967321" />
    <add key="FAX" value=" " />
    <add key="ADDRESS" value="test" />
    <add key="POSTCODE" value="610000" />
  </appSettings>
  <connectionStrings>
    <add name="TIQIUEntities" connectionString="metadata=res://*/SQLModel.csdl|res://*/SQLModel.ssdl|res://*/SQLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=112.124.51.238,2433;Initial Catalog=TIQIU;Persist Security Info=True;User ID=sa;Password=tiqiu365@terry&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="tiqiuEntities" connectionString="metadata=res://*/MySqlModel.csdl|res://*/MySqlModel.ssdl|res://*/MySqlModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;pwd=123456;database=tiqiu;persist security info=True;port=3306&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <TiQiu.SMSJOB.Properties.Settings>
      <setting name="TiQiu_SMSJOB_SMSService_SDKService" serializeAs="String">
        <value>http://sdk4report.eucp.b2m.cn:8080/sdk/SDKService</value>
      </setting>
    </TiQiu.SMSJOB.Properties.Settings>
  </applicationSettings>
</configuration>