@charset "utf-8";
/* 登录前960盒子 */
.public_960box{ background-color:#fff; border:1px solid #ddd;}
.public_960box_b{background:url(../../../images/public/box/public_960box_b.png) no-repeat;_background:none; width:958px; height:11px;_height:0px; overflow:hidden; margin-bottom:-11px;_margin-bottom:0;clear:both;}
.public_960box_title{ background-color:#FBF9F8; padding:25px 30px; font-size:14px}
.public_960box_title .dui,.public_960box_title .gantan{ padding:5px 35px;}
.public_960box_title .dui{ background:url(../../../images/public/icon/24x24/a_00.gif) no-repeat left center;}
.public_960box_title .gantan{ background:url(../../../images/public/icon/24x24/a_01.gif) no-repeat left center;}
