<div class="modal-header">
    <h3>审核预定</h3>
</div>

<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label">场次信息：</label>
            <div class="col-md-6">
                <span class="form-control-static">{{data.field.name}} {{data.fieldItem.title}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">时间：</label>
            <div class="col-md-6">
                <span class="form-control-static">{{data.scheduledDate}} {{data.schduleItem.StartTime.slice(0,5)}} -- {{data.schduleItem.EndTime.slice(0,5)}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">价格：</label>
            <div class="col-md-6">
                <span class="form-control-static">{{data.schduleItem.Price}}元</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">预订人联系电话：</label>
            <div class="col-md-6">
                <span class="form-control-static">{{data.schduleItem.MemberPhone}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">预订人名称：</label>
            <div class="col-md-6">
                <span class="form-control-static">{{data.schduleItem.MemberName}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="auditOrder()">确定</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>